body{
    background: red;
    margin: 0;
    padding: 0;
}
h1{
  color: red; 
}
h2{
  text-align: left;
  
}
/*
  position: absolute;
  position: fixed;
  position: sticky;
*/
.caixa1{
  position: relative;
  width: 200px;
  height: 200px;
  background: blue;
  left:50px;
}
.menuPrincipal {
  position:absolute;
  background: rgb(117, 224, 192);
  width: 100%;
  height: 45px;
  top: 0pt;
  left: 0;
}  
  nav ul{
    list-style-type: none;
    margin:0;
    padding: 0; 
    overflow: 0;
  }
  li{
    float: left;
  }
  li a{
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  li a:hover {
    background: rgb(87, 116, 84);
    color: blueviolet;
  }
  .boxImage{
    position: absolute;
    width: 90%;
    height: 80px;
    background:rgb(33, 99, 13) ;
    top: 80px;
    left: 0;
    margin:20px ;
    border-color: aqua;
    border-width: 20px;
    border-style:double;
    display:flex;
    justify-content: center;
  }
  #pato{
    width: 80px;
    height: 80px;
  }
  .rodape{
    position: absolute;
    width: 100%;
    height: 50px;
    color: cadetblue;
    background: crimson;
    left: 0;
    bottom: 0;
    display: flex;
  }
  .conteudoHome{
     position: absolute;
     top: 50px;
  }